<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- This will setup `application name in launcher` and `title bar`  -->
    <application
        android:label="Hello World"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:exported="true" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name=".SecondActivity">
            <intent-filter>
                <!-- 每个Intent中只能指定一个action ，但却能指定多个category 。目前我们的Intent中只有一个默认的category -->
                <action android:name="org.example.RUN_SEC_ACTIVITY" />
                <!-- ALL logic, all category must be add to be able to called -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- it seem like we can't delete default even if MY_CATEGORY was added -->
                <!-- otherwise, still can't find this activity -->
                <category android:name="org.example.MY_CATEGORY"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

